.Foodinput {
  align-items: left;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px;
  margin-top: 7px;
}

.FoodinputButton {
  margin-right: 10px;

  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: right;
}
