.styling {
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2e8b57;
  margin-top: 20px;
  border: 5px solid #90ee90;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
}

.styling h1 {
  text-align: center;
  color: #006400;
}
